.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #2e2d2c;
  padding: 0 1rem;
}

.site-name {
  color: #f4a933;
  font-size: 18px;
  font-weight: 600;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

span {
  color: #d0d0d0;
}

.noti-up {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.profile-img {
  height: 35px;
}

.noti {
  margin-top: 0.5rem;
}

.profile {
  margin-bottom: -0.5rem;
}

.up-nav {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-nav {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.nav-items {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-links {
  width: 32px;
  padding: 1rem 0.5rem;
}
