body {
  max-height: 100%;
  overflow: hidden;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.text-left {
  text-align: left;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-12 {
  gap: 3rem;
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 500px) {
  .chat-user-profile {
    width: 100% !important;
  }
  .chat-list-column {
    width: 100% !important;
  }
  .chat-bar-column {
    width: 100% !important;
  }

  .nav-items {
    display: none !important;
  }

  .navbar {
    height: 56px!important;
  }

  .chat-bar {
    padding: 0.5rem 1rem !important;
  }

  .chat,
  .chat-align-right {
    min-width: unset !important;
    max-width: unset !important;
  }

  .left-chat,
  .right-chat {
    padding: 1rem !important;
  }
}

@media (min-width: 1301px) {
  .chat-user-profile {
    margin: 0 auto;
  }
}

@media (min-width: 501px) and (max-width: 900px) {
  .nav-items {
    display: none !important;
  }
  .navbar {
    height: 56px!important;
  }
  .chat-list-column {
    width: 100% !important;
  }
  .chat-bar-column {
    width: 100% !important;
  }
}

@media (min-width: 501px) and (max-width: 1300px) {
  .chat-user-profile {
    max-width: 500px;
    margin: 0 auto;
  }

  body {
    background-color: #2b2c2d !important;
  }

  .chat-bar {
    padding: 0.5rem 1rem !important;
  }

  .chat,
  .chat-align-right {
    min-width: unset !important;
    max-width: unset !important;
  }

  .left-chat,
  .right-chat {
    padding: 1rem !important;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 1;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .left,
  .right {
    flex: 1;
  }
  .center {
    flex: 2;
  }
}

@media (min-width: 1025px) {
  .left,
  .right {
    flex: 1;
  }
  .center {
    flex: 2;
  }

  .chat-user-profile {
    max-width: 500px;
    margin: 0 auto;
  }

  body {
    background-color: #2b2c2d !important;
  }
}
